<button class="btn btn-primary"
        (click)="displayDetails()"
>Display details</button>
<button class="btn btn-info"
        (click)="displayStatus = !displayStatus">
  Toogle
</button>

<p *ngIf="displayStatus">Display</p>
<div *ngFor="let product of products; let i=index">
  <p [ngStyle]="{backgroundColor: i>3 ? 'blue' : 'white'}"
      [ngClass]="{'productColor': i>3}">
    {{product}}
  </p>
</div>


<!-- <app-product *ngFor="let product of products"></app-product> -->

<!-- <p *ngIf="displayStatus; else locator">Display</p>
<ng-template #locator>
  <p>DOn't Display</p>
</ng-template> -->