<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h3>I am app-component</h3>
        <hr>
        <app-servers></app-servers>
        <!-- <div app-servers></div> -->
        <!-- <div class="app-servers"></div> -->
    </div>
  </div>
  <hr>

  <h2>Learning Components: Alerts</h2>
  <div class="row">
    <div class="col-sm-12">
      <app-alerts></app-alerts>
    </div>
  </div>

  <h2>Learning DataBinding: Assignment</h2>
  <div class="row">
    <div class="col-sm-12">
      <app-user></app-user>
    </div>
  </div>
  <hr>

  
  <h2>Learning Directives: Assignment</h2>
  <div class="row">
    <div class="col-sm-12">
      <app-product-list></app-product-list>
    </div>
  </div>
</div>